<h2>Mis Peliculas</h2>
<div class="row">
    <div class="col-6">
        <div class="list-group peliculas">
            <li class="list-group-item" *ngFor="let pelicula of peliculasArray" 
            [class.selected]="pelicula === peliculaSeleccionada"
            (click)="onSelect(pelicula)">
            {{pelicula.nombre}}</li>
        </div>
    </div>
    <div class="col-6">
        <app-detalles-pelicula [pelicula]="peliculaSeleccionada"></app-detalles-pelicula>
        <div *ngIf="!peliculaSeleccionada" class="crearPelicula">
            <div class="detallesContenido">
                <form action="">
                    <h2>Añade una nueva Pelicula</h2>
                    <h4>Nombre:</h4>
                    <input type="text" placeholder="Nombre"[class.selected]="peliculaEditada.nombre">
                    <h4>Sinopsis:</h4>
                    <textarea name="sinopsi" id="sinopsi" cols="50" rows="20"[class.selected]="peliculaEditada.sinopsi"></textarea>
                    <h3>Link de la imagen</h3>
                    <input type="text"[class.selected]="peliculaEditada.imagen">
                    <button class="btn btn-primary">Añadir</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Metodo if en el que si no hay ninguna pelicula elegida salga un apartado para poder crear una nueva pelicula-->
