<h2>Mis Peliculas</h2>
    <ul class="peliculas">
        <li *ngFor="let pelicula of peliculas" 
        [class.selected]="pelicula === peliculaSeleccionada"
        (click)="onSelect(pelicula)">{{pelicula.nombre}}</li>
    </ul>
<div *ngIf="peliculaSeleccionada" class="detalles">
    <div class="detallesContenido">
        <h2>Detalles de {{peliculaSeleccionada.nombre}}</h2>
        <h4>Nombre:</h4>
        <p>{{peliculaSeleccionada.nombre}}</p>
        <h4>Sinopsis:</h4>
        <p>{{peliculaSeleccionada.sinopsi}}</p>
    </div>
    <div class="detallesImagen">
        <img src={{peliculaSeleccionada.imagen}} alt="Imagen de la portada de {{peliculaSeleccionada.nombre}}">
    </div>
</div>
