.detalles{
    display: flex;
    border: 1px solid red;
}
.detallesContenido{
    width: 50%;
    margin: 40px;
    text-align: center;
}
.detallesImagen{
    width: 50%;
}
.detallesImagen img{
    width: 80%;
    margin: 40px;
}