<h2>Mis Peliculas</h2>
<div class="Peliculas" style="display: flex;">
    <div *ngFor="let pelicula of peliculas" 
    [class.selected]="pelicula === peliculaSeleccionada"
    (click)="onSelect(pelicula)"
    style="width: 33%;">
        <img src="{{pelicula.imagen}}" alt="imagen de {{pelicula.nombre}}" style="width: 100%;">

    </div>
</div>
<div *ngIf="peliculaSeleccionada">
    <h2>Detalles de {{peliculaSeleccionada.nombre}}</h2>
    <h6>Nombre:</h6>
    <p>{{peliculaSeleccionada.nombre}}</p>
    <h6>Sinopsis:</h6>
    <p>{{peliculaSeleccionada.sinopsi}}</p>
</div>
