    <div *ngIf="pelicula" style="width: 100%;">
      <div class="row">
        <div class="col-3">
          <img src="{{pelicula.imagen}}" class="card-img-top" alt="Imagen de la portada de {{pelicula.nombre}}" style="width: 100%;"> 
        </div>
      <div class="col-9">
          <h5>Nombre</h5>
          <input placeholder="{{pelicula.nombre}}">
          <h5>Sinopsis</h5>
          <textarea placeholder="{{pelicula.sinopsi}}" height="100px" rows="20" cols="60"></textarea>

        </div>
    </div>
        <br>
        <button class="btn btn-success" (click)="editarPelicula(pelicula)">Editar</button>
        <button class="btn btn-danger">Eliminar</button>
    </div>